.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    margin-top: 20px;
    margin-right: 10px;
    border: none!important;
    background: linear-gradient(145deg,#e2e8ec,#fff);
    border-radius: 6px;
    box-shadow: 4px 4px 8px #cbcbcb, 4px -4px 8px #fff;
    color: #000;
    cursor: pointer;
    padding: 18px 25px;
    transition: all .5s ease;
}

.shadow:hover {
    background: #ff014f;
    color: #fff;
    transform: translateY(-10px);
}